/*
wp-oembed-2link plugin's style
*/

.wp-oembed-2link {

    position: relative;
    text-align: center;
    
    display: table;

    margin: auto;
    padding-top: 1rem;
}

.wp-oembed-2link .wp-oembed-2link-menu {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #33333399;
    color: white;

    display: table-cell;
    width: 100%;
    padding: .5rem;
}

.wp-oembed-2link .wp-oembed-2link-menu a {

    display: inline-block;
    padding: 6px 10px ;
    margin-top: .5rem ;

    background-color: #1B870B;
    color: white;
    text-decoration: none;

    border-radius: 4px;
    cursor: pointer;
}
